$small: 300px;
$medium: 1024px;
$large: 1440px;

$bg-principal: hsl(256, 68%, 17%);
$bg-secundario-1: hsl(260, 69%, 98%);
$bg-secundario-2: hsl(260, 69%, 60%);
$bg-secundario-2-dark: hsl(260, 69%, 80%);