<section id="sec-nosotros" class="my-4 py-3">
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-8 col-xxl-7 text-center">
        <h2 class="display-5 fw-bold">Nosotros</h2>
        <!-- <p class="lead">Ofrecemos diferentes tipos de servicios para poder hacer realidad tus ideas en difer</p> -->
      </div>

      <div class="col-12 text-center mb-2">
        <p class="mx-0 px-0 mx-lg-3 px-lg-4">
          Somos <b>un equipo</b> interesado en poder aplicar nuestros conocimientos en el ámbito de software para poder brindar
          soluciones <b>tecnológicas</b>, <b>innovadoras</b>, <b>eficientes</b> y de <b>excelencia</b> a problemas cotidianos
        </p>
      </div>

      <div class="col-12 my-3 mx-lg-3 px-lg-5 text-center">
        <div class="container">
          <div class="row">

            <div class="col-12 col-md-6 my-3 text-center">
              <h3 class="fw-semibold">Misión</h3>
              <p>Impulsar el desarrollo de emprendimientos, proyectos o personas desarrollando <b>soluciones personalizadas</b>
                enfocadas a la
                <b>calidad</b>, que generen un <b>impacto positivo</b> en el día a día y aporten un <b>valor agregado</b>.
              </p>
            </div>
            <div class="col-12 col-md-6 my-3 text-center">
              <h3 class="fw-semibold">Visión</h3>
              <p>
                Convertirnos en una empresa referente en el diseño y desarrollo de software que ayude a mejorar y optimizar los
                procesos
                de cualquier sector que lo necesite. Caracterizandonos por ofrecer productos y servicios que
                destaquen por su facilidad de uso y su gran desempeño.
              </p>
            </div>
            <div class="col-12 my-3 text-center">
              <h3 class="fw-semibold">Valores</h3>
              <p>
                Nuestra identidad está representada por nuestros valores, y generan una marca distintiva en nuestros trabajos.
            
                Estamos <b>comprometidos</b> en lograr la satisfacción de todo nuestro entorno, <b>sabiendo escuchar</b> las
                necesidades de cada una
                de las partes que nos rodea. <b>Trabajamos en equipo</b> de manera <b>transparente</b>, buscando la <b>calidad</b> ,
                la <b>innovación</b> y
                la <b>eficiencia</b>.
            
              </p>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</section>
